<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="myibatis">



	<resultMap id="mapCliente" type="clienteBeanIbatis">
		<id property="idCliente" column="idCliente" />
		<result property="nombre" column="nombre" />
		<result property="apellido" column="apellido" />
		<result property="direccion" column="direccion" />
		<result property="telefono" column="telefono" />
	</resultMap>



	<!-- Querys para el mantenimiento  -->
	<select id="SQL_listaCliente" resultMap="mapCliente"
		parameterType="java.lang.String">
		select * from tb_cliente where nombre like #{filtro}
	</select>

	<insert id="SQL_insertaCliente"
		parameterType="clienteBeanIbatis">
		<selectKey keyProperty="idCliente" resultType="int" order="BEFORE">
			select CLIENT_SEQ.nextval from dual
		</selectKey>
		insert into tb_cliente (idCliente,nombre,apellido,direccion,telefono)
		values(#{idCliente},#{nombre},#{apellido},#{direccion},#{telefono})
	</insert>

	<update id="SQL_actualizaCliente"
		parameterType="clienteBeanIbatis">
		update tb_cliente set nombre = #{nombre},apellido =
		#{apellido},
		direccion = #{direccion},telefono = #{telefono}
		where
		idcliente = #{idCliente}
	</update>

	<delete id="SQL_eliminaCliente" parameterType="int">
		delete from
		tb_cliente where idcliente = #{id}
	</delete>

</mapper>







